<%-include('../includes/head.ejs')  %>

    <%-include('../includes/navigation.ejs')  %>
        <main>
            <h1>Cart</h1>
            <% if (products.length>0) { %>

                <ul>
                    <% for(product of products) { console.log(product); %>
                     <li>
                        <p><%=product.title %> (<%=product.quantity %>) </p> 
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%=product._id %>" name="productId" />
                            <button type="submit" class="btn">Delete</button>
                        </form> 
                         
                         
                    </li>
                    <% } %>   
                </ul>
                <div>
                    <form action="/checkout-order">
                        <button type="submit">Order Now!</button>
                    </form>
                </div>
                
            <% } else { %>
                <h1>No products in Cart</h1>
            <%  } %>    
        </main>
    <%-include('../includes/footer.ejs')  %>